coqui-tts==0.24.2
silero_vad==5.1.2
numpy==1.25.2 # Adjusted for compatibility
torch==2.4.1
torchaudio==2.4.1
ollama
pydantic
faster_whisper==1.0.3
PyAudio==0.2.14
pytz==2024.2
pyttsx3==2.98
